.box{
    margin: 0 auto;
    width: 960px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #252525;
    display: block;
    line-height: 2.2;
    font-size: 14px;
}

a, a:visited {color:#0A3EFF; text-decoration: none; }
a:hover, a:active {color:#ba2636;}

a.f163, a.f163:visited{text-decoration: underline;}

.media {color: #0A3EFF}

.wrapper {
    width: 80%;
    margin: 20px auto;
}

#title{
    margin: 10px auto;
    height: 60px;
    width: 80%;
    font-size: 28px;
    font-weight: bolder;
    font-family: Î¢ÈíÑÅºÚ;
    letter-spacing: 2px;
    padding: 15px 10px 0px 10px;
    /*border: 1px solid #cdd3e2;*/
    text-align:center;
}

.left{
    width: 55%;
    top: 2px;
    float:left;
    clear: right;
    text-align:left;
}

.tab{
    width: 20%;
    top: 2px;
    float:left;
    clear: right;
    text-align:center;
    /*border: 1px solid #cdd3e2;*/
    /*padding: 2px;*/
}

.right{
     width: 40%;
     margin-left: 5%;
     padding-top: 72px;
     float:left;
     clear: right;
     text-align:left;
 }

#sections {
    border-right: 1px solid #ebebeb;
    height: 40px;
    zoom: 1;
    width: 80%;
    margin: 10px auto 0;
}

/*#navigation #sections::after {
    content: " ";
    display: block;
    clear: both;
}*/

#sections a {
    width: 100%;
    display: block;
    line-height: 40px;
    /*float: left;*/
    /*padding: 0 30px;*/
    color: #454545;
    border-left: 1px solid #ebebeb;
    font-family: sans-serif;
    font-weight: bold;
    font-stretch: condensed;
    letter-spacing: -0.03em;
    font-size: 18px;
    text-decoration: underline;
}

#sections a:hover,#sections a.selected {
    background: rgba(235,235,235,0.3);
    color: #000;
    box-shadow: inset 0 4px 0 #407a44, inset 0 0 3px #ebebeb;
    transition: all 150ms ease-in-out;
}

.clearfix:before,.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1;} /* IE < 8 */


.left-ul li {
    padding: 20px 0;
    border-bottom: 1px dashed #666;
}

.left-ul li a {
    padding: 0 5px;
}

.left-title, .left-more {
    font-weight: bold;
}
a.left-title, a.left-title:visited, a.left-more, a.left-more:visited {color:#252525; }
a.left-title:hover, a.left-title:active, a.left-more:hover, a.left-more:active {color:#ba2636;}

.left-similar {
    color: #e70012;
}

.time-info {
    margin-left: 10%;
    margin-top: 10px;
}

.time-selection {
    margin-left: 10%;
}